#home {
  background: url("../assets/imgs/agriBackground.jpg");
  background-size: cover;
}
ion-label{
  font-weight: normal;
}
#user{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
ion-icon {
font-size: 50px;
color: white;
}
#newuser {
  font-size: 12px;
  color: white;
  text-align: center;
}
#remember {
  font-size: 16px;
  color: white;
  text-align: justify;
}
#remember {
  font-size: 16px;
  color: white;
  text-align: justify;
}
hr {
margin-left: auto;
margin-right: auto;
background-color:white;
color:white;
border: 0 none;
}

// #connection {
//   text-align: justify;
// }
