page-goods-details {
  td, th {
      border: 2px solid #dddddd;
      padding: 8px;
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
  }
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  ion-navbar.toolbar {
    height: 20px;
  }
th{
  font-weight: bold;
  font-weight:16px;
  text-align:center;
}
  ion-card{
    height: 730px;
  }
}
