page-pop {
   ion-navbar.toolbar {
  height: 20px;
}
#order{
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight:bold;
  height:150px;
}
#order p{
  margin:2px;
  padding:2px;
  font-size: 16px;
  padding:5px;
  font-weight: bold;
}
}