page-pa {
  #ordercard{

      background-repeat: no-repeat;
      margin-top: 10px;
      height:90px;
      font-size:16px;
    }
  #ordercard h2{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  #ordercard h3{
    padding: 5px;
    font-size: 16px;
    color: black;
  }
  #col1{
    font-size:16px;
  }

h6{
  color:white;
}

}
